body {
  font-family: monospace;
}

.menu {
  font-size: 13px;
  text-decoration: none;
  padding-top: 5px;
}

.menu a {
  color: black;
  padding-right: 70px;
  text-decoration: none;
}

.years {
  font-size: 13px;
  float: left;
  position: relative;
  left: 0;
  width: 100px;
  height: 100vh;
  padding-top: 40px;
}

.years a {
  color: grey;
  display: inline-block;
  text-decoration: none;
}


.works {
  float: left;
  position: absolute;
  left: 100px;
  display: block;
  padding-top: 120px;
}

.works2019 p {
  text-align: left;
  margin:0;
  margin-bottom: 70px;
  margin-top: 5px;
}

.works2019 img{
  margin-bottom: 0px;
  display: block;

}

.works2018 p{
  margin:6px;
}

.works2018 img{
  width: 130px;
  pedding: 10px;
}


.works2017 p{
  margin:6px;
}


.works2017 img {
  width: 130px;
  pedding: 10px;


}


.cv{
 position: absolute;
 left: 8px;
 padding-top: 40px;
 color: grey;
}
